@import "~antd/dist/antd.less";
@import "./card.less";
@import "./button.less";
@import './list.less';
@primary-color: #dd2c00;

.background-primary{
    background-color: @primary-color;
}
body{
    background-color: #212121;
}
img{
    object-fit: contain;
}